[submodule "plugins/tmux-battery"]
	path = plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "plugins/tmux-continuum"]
	path = plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "plugins/tmux-scroll-copy-mode"]
	path = plugins/tmux-scroll-copy-mode
	url = git@github.com:NHDaly/tmux-scroll-copy-mode.git
